body {
  background-color: #333;
  color: #F3F3F3;
  padding: 1rem;
  margin: .6rem;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* body.dark {

} */

body.light {
  background-color: #F3F3F3 ;
  color: #333;
}

.main {
  padding-top: 2rem;
  text-align: center;
}

.TextField {
  padding: 1rem;
}

  @media screen and (min-width: 768px) {
    .TextField {
      width: 691px;
    }
  }

  @media screen and (max-width: 768px) {
    .TextField {
      width: 90vw;
    }
  }

footer {
  position: absolute;
  bottom: 2rem;
}

.link {
  text-decoration: underline;
  color: aqua;
}